<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">    
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>com.duckspot.diar.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerGoogleAuth</servlet-name>
        <servlet-class>com.duckspot.diar.GoogleAuthServlet</servlet-class>
        <init-param>
            <param-name>content</param-name>
            <param-value>registerGoogleAuth.html</param-value>
        </init-param>
        <init-param>
            <param-name>nextURL</param-name>
            <param-value>/register2</param-value>                
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerGoogleAuth</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>googleAuthCallback</servlet-name>
        <servlet-class>com.duckspot.diar.GoogleAuthCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>googleAuthCallback</servlet-name>
        <url-pattern>/oauth2callback</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>registerSettings</servlet-name>
        <servlet-class>com.duckspot.diar.SettingsServlet</servlet-class>
        <init-param>
            <param-name>content</param-name>
            <param-value>registerSettings.html</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerSettings</servlet-name>
        <url-pattern>/register2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>settings</servlet-name>
        <servlet-class>com.duckspot.diar.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/settings</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>day</servlet-name>
        <servlet-class>com.duckspot.diar.DayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>day</servlet-name>
        <url-pattern>/day/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>event</servlet-name>
        <servlet-class>com.duckspot.diar.EventServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>event</servlet-name>
        <url-pattern>/event/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>security</servlet-name>
        <servlet-class>com.duckspot.diar.SecurityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>security</servlet-name>
        <url-pattern>/security</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>entryFilter</filter-name>
        <filter-class>com.duckspot.diar.SecurityFilter</filter-class>
        <init-param>
            <param-name>requireLogin</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>entryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>com.duckspot.diar.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/events/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/settings</url-pattern>
    </filter-mapping>
</web-app>
